In [2]:
import pandas as pd

# load dataset into Pandas DataFrame
df = pd.read_csv("ChemOptCleaned3.csv", header=0, index_col=0)
df.head()

       bact       apol        ASA       ASA+      ASA-      ASA_H      ASA_P
mol
TLcf   high  373.22794  3192.7236  2299.1519  893.5719  1840.1213  1352.6024
THIS5  high  570.93018  4632.4492     0.0000    0.0000  4632.4492     0.0000
Lcf     low  237.45761  2081.5366     0.0000    0.0000  2081.5366     0.0000
HIS5    low  450.00461  3726.2500     0.0000    0.0000  3726.2500     0.0000

In [3]:
from sklearn.preprocessing import StandardScaler
features = df.columns
# Separating out the features
x = df.drop(['bact'], axis = 1)
# Separating out the features
#x = df.loc[:, features].values

# Separating out the target
y = df.loc[:,['bact']].values
# Standardizing the features
x = StandardScaler().fit_transform(x)

/usr/lib64/python3.7/site-packages/sklearn/utils/__init__.py:4: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
  from collections import Sequence

In [4]:
df.head()

       bact       apol        ASA       ASA+      ASA-      ASA_H      ASA_P
mol
TLcf   high  373.22794  3192.7236  2299.1519  893.5719  1840.1213  1352.6024
THIS5  high  570.93018  4632.4492     0.0000    0.0000  4632.4492     0.0000
Lcf     low  237.45761  2081.5366     0.0000    0.0000  2081.5366     0.0000
HIS5    low  450.00461  3726.2500     0.0000    0.0000  3726.2500     0.0000

In [5]:
x

array([[-0.28648918, -0.23354023,  1.73205081,  1.73205081, -1.06237462,
         1.73205081],
       [ 1.34685038,  1.32659199, -0.57735027, -0.57735027,  1.3494754 ,
        -0.57735027],
       [-1.40817122, -1.43765763, -0.57735027, -0.57735027, -0.85385416,
        -0.57735027],
       [ 0.34781002,  0.34460586, -0.57735027, -0.57735027,  0.56675337,
        -0.57735027]])

In [6]:
from sklearn.decomposition import PCA
pca = PCA(n_components=3)
# pca = PCA(n_components=2)
principalComponents = pca.fit_transform(x)
principalDf = pd.DataFrame(data = principalComponents
            #, columns = ['principal component 1', 'principal component 2'])
            , columns = ['principal component 1', 'principal component 2','principal component 3'])

/usr/lib64/python3.7/site-packages/sklearn/model_selection/_search.py:16: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
  from collections import Mapping, namedtuple, defaultdict, Sequence

In [7]:
finalDf = pd.concat([principalDf, df['bact']], axis = 1)

/usr/lib64/python3.7/site-packages/pandas/core/indexes/range.py:465: RuntimeWarning: '<' not supported between instances of 'int' and 'str', sort order is undefined for incomparable objects
  return self._int64index.union(other)

In [8]:
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure

fig = plt.figure(figsize = (8,8))
ax = fig.add_subplot(1,1,1) 
ax.set_xlabel('Principal Component 1', fontsize = 15)
ax.set_ylabel('Principal Component 2', fontsize = 15)
ax.set_title('2 component PCA', fontsize = 20)

targets = ['high', 'low']
colors = ['r', 'g']
for bact, color in zip(targets,colors):
    indicesToKeep = finalDf['bact'] == bact
    ax.scatter(finalDf.loc[indicesToKeep, 'principal component 1']
               , finalDf.loc[indicesToKeep, 'principal component 2']
               , c = color
               , s = 50)
ax.legend(targets)
ax.grid()

In [8]:
pca.explained_variance_ratio_

array([6.47955054e-01, 3.52038051e-01, 6.89471973e-06])

In [9]:
y

array([['high'],
       ['high'],
       ['low'],
       ['low']], dtype=object)